<%= form_with(model: counselor, local: true) do |form| %>
  <% if counselor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(counselor.errors.count, "error") %> prohibited this counselor from being saved:</h2>

      <ul>
      <% counselor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, {:class=>"form-control"} %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, {:class=>"form-control"} %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.number_field :dni, {:class=>"form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Consejero', {:class=>"btn btn-primary"} %>
  </div>
<% end %>
