<p id="notice"><%= notice %></p>

<h1>Counselors</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last name</th>
      <th scope="col">Dni</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counselors.each do |counselor| %>
      <tr>
        <td scope="row"><%= counselor.name %></td>
        <td><%= counselor.last_name %></td>
        <td><%= counselor.dni %></td>
        <td><%= link_to 'Show', counselor %></td>
        <td><%= link_to 'Edit', edit_counselor_path(counselor) %></td>
        <td><%= link_to 'Destroy', counselor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counselor', new_counselor_path, { :class=>"btn btn-primary btn-lg active"} %>
